---
import type { GetStaticPathsResult } from "astro";
import { Image } from "astro:assets";

import DefaultLayout from "@/components/default-layout.astro";
import DocumentBody from "@/components/document-body.astro";
import DocumentHead from "@/components/document-head.astro";
import DocumentMetadata from "@/components/document-metadata.astro";
import HtmlDocument from "@/components/html-document.astro";
import { createClient } from "@/lib/content/create-client";
import { getTranslations } from "@/lib/i18n/get-translations";
import { getIntlLanguage, locales } from "@/lib/i18n/locales";
import { localeToPrefix } from "@/lib/i18n/routing";

export function getStaticPaths() {
	const paths = locales.map((locale) => {
		return { params: { locale: localeToPrefix[locale] } };
	});

	return paths satisfies GetStaticPathsResult;
}

const { locale } = Astro.locals;
const t = await getTranslations(locale, "IndexPage");

const client = await createClient(getIntlLanguage(locale));

const page = await client.singletons.indexPage.get();

const { image, subtitle, title } = page.metadata;
const Content = page.content;
---

<HtmlDocument>
	<DocumentHead>
		<DocumentMetadata title={t("meta.title")} />
	</DocumentHead>

	<DocumentBody>
		<DefaultLayout>
			<section class="relative w-full overflow-hidden">
				<div class="absolute inset-0 -z-10 size-full">
					<Image
						alt=""
						class="size-full object-cover"
						fetchpriority="high"
						layout="full-width"
						loading="eager"
						src={image}
					/>
					<div class="absolute inset-0 size-full bg-black/60"></div>
				</div>

				<div
					class="mx-auto flex max-w-(--breakpoint-md) flex-col items-center gap-y-6 px-8 py-12 text-white xs:pt-48 xs:pb-32"
				>
					<h1
						class="text-center font-heading text-4xl font-extrabold tracking-tight lowercase xs:text-7xl"
					>
						{title}
					</h1>

					<p class="text-center text-lg font-semibold xs:text-2xl">
						{subtitle}
					</p>
				</div>
			</section>

			<section class="container richtext max-w-(--breakpoint-md) px-4 py-8 sm:px-8 sm:py-12">
				<div>
					<Content />
				</div>
			</section>
		</DefaultLayout>
	</DocumentBody>
</HtmlDocument>
